extends layout

block content
  div.detail-content
    h1= title

    p 
      | #[strong Director name]: 
      a(href=director.url) #{director.name}
    p #[strong Date of Birth:] #{director.date_of_birth ? director.date_of_birth.toLocaleDateString() : 'N/A'}
    p #[strong Date of Death:] #{director.date_of_death ? director.date_of_death.toLocaleDateString() : 'N/A'}

