extends layout

block content
  h1= title
  p Welcome to #{title}, this page consists of various movies ranging from different genres of cinema which can be accessed, bought, or rented. Whether you're a fan of classic films, modern blockbusters, or indie gems, you'll find something to enjoy here. Our collection is curated to include a wide variety of genres, ensuring there's something for everyone. From action-packed thrillers and heartwarming dramas to laugh-out-loud comedies and spine-chilling horror movies, our catalog has it all. You can easily browse through our selection, read reviews, and find the perfect movie for your next movie night. Plus, with options to buy or rent, you have the flexibility to choose how you want to enjoy your favorite films.

  h2 Records

  p The current record counts of various components are as follows.
  ul.index-list
    li.index-list-item 
      | !{movie_count}
      br 
      strong Movies
    li.index-list-item #[strong Actors] !{actor_count}
    li.index-list-item #[strong Genres] !{genre_count} 
    li.index-list-item #[strong Directors] !{director_count}
    li.index-list-item #[strong Movie DVDs] !{moviedvd_count}
    li.index-list-item #[strong Available Movie DVDs] !{available_moviedvd_count} 
