extends layout

block content
    h1.section-title= title
    if moviedvds.length
        ul
            each moviedvd in moviedvds
                li
                    a(href=moviedvd.url) #{moviedvd.movie.name}
                    |
                    span(class=moviedvd.status === 'Available' ? 'text-success' : moviedvd.status === 'Reserved' ? 'text-danger' : 'text-loaned') #{moviedvd.status}
    else
        p There are no genre
